body {
  color: inherit;
  background-color: black;
  background-image: url('../img/cover.jpg');
  background-repeat: no-repeat;
  background-size: 40%;
}

body {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: inherit;
  border: 5px solid;
  border-color: #404040;
  background-color: #bfbfbf;
}

h1 {
  font-size: 34px;
  text-align: center;
  height: 40px;
  margin: 4px;
}

h2 {
  font-size: 20px;
  text-align: center;
  height: 65px;
  margin: 4px;
}

h3 {
  height: 270px;
  font-size: 26px;
  text-align: left;
  margin-left: 1100px;
  margin-right: 4px;
}

div {
   margin: 4px;
   border: 10px solid transparent;
   padding: 12px;
   text-align: center;
   font-size: 18px;
}

div:nth-child(1) {
  height: 375px;
  text-align: left;
  color: inherit;
  background-color: #bfbfbf;
  border-color: #404040;
}

div:nth-child(2) {
  height: 125px;
  color: inherit;
  background-color: #bfbfbf;
  border-color: #404040;
}

div:nth-child(3) {
  height: 90px;
  color: inherit;
  background-color: #bfbfbf;
  border-color: #404040;
}
