:root{



}


/* We're working with the body tag, and so with the WHOLE page */
body
{
    background-color: black; /* The page background will be black */
    color: white; /* The page text will be white */
}
#the-public-enemy {
   position: relative;
   margin: auto;

 }

 img {
   position: absolute;
}

img:nth-child(1) {
  height: 200px;
  width: 200px;
   right: 25px;
}

img:nth-child(2) {
  height: 200px;
  width: 200px;
   top: 100px;
   right: 200px;
   border: solid black;
}

img:nth-child(3) {
  height: 200px;
  width: 200px;
   left: 50px;
   border: solid black;
}

img:nth-child(4) {
  height: 200px;
  width: 200px;
   left: 50px;
   border: solid black;
}

img:nth-child(5) {
  height: 200px;
  width: 200px;
   left: 50px;
   border: solid black;
}

img:nth-child(6) {
  height: 200px;
  width: 200px;
   left: 50px;
   border: solid black;
}




h1
 {
   font-size: 30px;
   text-align: center;
   font-family: 'Trade Winds', cursive ;
}

h2
{
  text-align: center;
  font-family: 'Trade Winds', cursive ;

}

p{
  font-family: 'Odibee Sans', cursive ;
  text-align: left;

}

div {
   margin: 4px;
   border: 10px solid transparent;
   padding: 12px;
}

div:nth-child(1) {
  font-family: 'Odibee Sans', cursive ;


}

div:nth-child(2) {
  
}

div:nth-child(3) {


}

div:nth-child(4) {

}

div:nth-child(5) {

}

div:nth-child(6) {

}

div:nth-child(7) {

}

div:nth-child(8) {

}

div:nth-child(9) {

}

div:nth-child(9) {

}
div:nth-child(10) {

}
div:nth-child(11) {

}

div:nth-child(12) {

}
